/*COLORS*/
$black: #767575;
$black_hover: #5a5a5a;
$white: #fefefe;
$green: #6fc793;
$green_hover: #43875f;
$blue: #0a58ca;
$blue_hover: #0a58ca;
$blue_light: #787fce;
$purple: #d581b2;
$orange: #eabd34;
$orange_hover: #fcc406;
$shadow: rgba($blue_light, 0.2);
$background_hover: #fbfcfd73;

/*SIZES*/
$small: 900px;
$medium: 1500px;
$large: 1900px;

/*HEADER*/
.menu {
  background-color: unset;
  box-shadow: 0px 1px 4px 0px $shadow;

  li {
    margin: 0.4em;
    font-size: 18px;
  }

  a {
    color: $blue;
  }
}

/*SECTIONS*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-shrink: 0;
    margin-bottom: 1rem;
  }

  footer {
    padding: 1rem;
    box-shadow: 0px -2px 4px 0px $shadow;
  }
}


/*BASICS*/
a, p {
  color: $blue;
  text-decoration: none;
}

h2, h3, h5 {
  color: $black;
}

.row {
  width: 100%;
}

.center {
  text-align: center;
}

#new {
  font-size: 20px;
}


/*PROFILES (program.html, student.html)*/
.profile-head {
  align-items: center;
  margin: 1.5rem 0 1.5rem 3.5rem;
  width: max-content;

  .title {
    width: max-content;
  }

  .plus-button {
    width: max-content;
    border: 1px solid $shadow;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    margin-left: 1rem;
    color: $blue;

    &:hover {
      color: $blue_hover;
    }

    h3 {
      color: inherit;
    }
  }
}

.student-profile, .program-profile {
  .main {
    margin-left: 3rem;

    .list-group {
      margin-bottom: 1rem;

      .line {
        border: 1px solid $shadow;
        display: grid;
        align-items: center;
        grid-template-columns: 6fr 1fr;

        &:first-child {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        &:last-child {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }

        & + .line {
          border-top-width: 0;
        }

        .actions {
          display: flex;
          list-style: none;
          margin: 0;

          li {
            margin: 1rem;

            a {
              color: $green;

              &:hover {
                color: $green_hover;
              }
            }
          }
        }

        .list-group-item {
          border: none;

          &:hover {
            background-color: $background_hover;

            h5 {
              color: $black_hover;
            }

            p {
              color: $blue_hover;
            }
          }
        }
      }
    }

    .all {
      margin-left: 1.25rem;
    }
  }

  .profile.program {
    height: 17rem;
    width: 20rem;

    .card-body {
      display: grid;
      grid-template-rows: 1fr 2fr;
      height: 100%;
    }
  }

  .profile {
    border-radius: 1rem;
    height: 16rem;
    width: 21.5rem;
    margin: 0;
    box-shadow: 0px 1px 4px 0px $shadow;
    color: $blue;

    &:hover {
      box-shadow: 0 2px 4px $shadow;
      background-color: $background_hover;
    }

    .card-body {
      display: grid;
      grid-template-rows: 1fr 1fr;

      .head {
        margin-bottom: 1rem;
        display: grid;
        grid-template-areas: "pos1 pos2" "pos3 pos4";
        align-items: end;

        .left_title {
          margin-top: 1rem;
          grid-area: pos1;
        }

        .arrow {
          grid-area: pos2;
        }

        .left_text {
          margin-top: 0;
          color: $orange;
          grid-area: pos3;
        }
      }

      .left_text {
        margin-top: 1rem;
        color: $orange;
        overflow-x: overlay;
        overflow-y: hidden;
      }

      .phone {
        margin-bottom: 1rem;
      }
    }
  }
}


/*PROGRAMS (programs.html)*/
.programs {
  margin: 1rem 0 !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  @media screen and (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: $medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .program {
    border-radius: 1rem;
    margin: 1rem;
    width: 20em;
    height: 17em;
    box-shadow: 0px 1px 4px 0px $shadow;

    &:hover {
      box-shadow: 0 2px 4px $shadow;
      background-color: $background_hover;
    }

    a {
      text-decoration: none;
      height: -webkit-fill-available;
      width: -webkit-fill-available;

      .card-body {

        display: grid;
        height: 100%;
        grid-template-rows: 1fr 2fr;

        .head {
          display: grid;
          grid-template-areas: "pos1 pos2";
          align-items: center;

          .left_title {
            margin: 0;
            grid-area: pos1;
          }

          .arrow {
            grid-area: pos2;
          }

        }

        .left_text {
          margin-top: 1rem;
          color: $orange;
          overflow-x: overlay;
          overflow-y: hidden;
        }
      }

      &:hover {
        color: $blue_hover;
        cursor: pointer;
      }
    }
  }
}


/*STUDENTS PAGE (students.html)*/
.students {
  margin: 1rem 0 !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  @media screen and (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media screen and (min-width: $medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .student {
    border-radius: 1rem;
    height: 16rem;
    width: 21.5rem;
    margin: 1rem;
    box-shadow: 0px 1px 4px 0px $shadow;

    &:hover {
      box-shadow: 0 2px 4px $shadow;
      background-color: $background_hover;
    }

    a {
      text-decoration: none;
      height: -webkit-fill-available;
      width: -webkit-fill-available;

      .card-body {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .head {
          margin-bottom: 1rem;
          display: grid;
          grid-template-areas: "pos1 pos2" "pos3 pos4";
          align-items: end;

          .left_title {
            margin-top: 1rem;
            grid-area: pos1;
          }

          .arrow {
            grid-area: pos2;
          }

          .left_text {
            margin-top: 0;
            color: $orange;
            grid-area: pos3;
          }
        }

        .phone {
          margin-bottom: 1rem;
        }
      }

      &:hover {
        color: $blue_hover;
        cursor: pointer;

        .left_text {
          color: $orange_hover;
        }

        .phone {
          color: inherit;
        }
      }
    }
  }
}

.lesson {

  margin-top: 2rem;

  .main {
    margin-left: 5rem;
  }

  .side {
    .list-group {
      position: -webkit-sticky;
      position: sticky;
      top: 1rem;

      .list-group-item {
        box-shadow: 0px 1px 4px 0px $shadow;
        border: 1px solid $shadow;

        & + .list-group-item {
          border-top-width: 0;
        }

        &:first-child {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }

        &:last-child {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }

        &:hover {
          background-color: $background_hover;

          p {
            color: $blue_hover;
          }
        }
      }
    }
  }
}

.homework {
  margin-top: 2rem;
  align-items: baseline;

  h2 {
    margin-left: 5rem;
    width: -webkit-fill-available;
  }

  .main {
    margin-left: 5rem;

    .task {
      border: 1px solid $shadow;
      border-radius: 1rem;
      padding: 1rem;

      .submission {
        background-color: $orange;
        padding: 0.5rem;
        border-radius: 0.75rem;
        color: $white;

        &:hover {
          background-color: $orange_hover;
        }
      }

      .text {
        font-size: 1.25rem;
      }
    }
  }

  .side {
    .solution {
      border: 1px solid $shadow;
      border-radius: 1rem;
      padding: 1rem;
      margin-top: 1.5rem;

      .file {
        display: block;
        margin-bottom: 0.5rem;
      }

      .graduate {
        background-color: $orange;
        padding: 0.5rem;
        border-radius: 0.75rem;
        color: $white;

        &:hover {
          background-color: $orange_hover;
        }
      }
    }
  }
}


.knopka {
  text-align: center;
  font-size: 20px;
  padding: 5.5em 1em;
}

/*FORMS*/

.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2rem 5rem;

  label {
    font-size: 1.5rem;
    color: $blue;
  }

  .head {
    .form-label:not(:first-of-type), .form-check {
      margin-top: 1rem;
    }

    input.form-control {
      box-shadow: 0px 1px 4px 0px $shadow;
      border: 1px solid $shadow;
      border-radius: 1rem;
    }

    .form-select{
      line-height: 2;
      box-shadow: 0px 1px 4px 0px $shadow;
      border: 1px solid $shadow;
      border-radius: 1rem;
      font-size: 1.2rem;

      &:hover{
        cursor: pointer;
      }
    }

    input[type="submit"]{
      border: 1px solid $shadow;
      border-radius: 1rem;
      padding: 1.5rem;
      background-color: $white;
      margin-top: 1rem;
      color: $blue;
    }
  }

  .editor {
    margin: 0 2rem;

    .note-editor {

      .note-editable {
        height: 65vh;
      }
    }
  }
}