{% extends 'base.html' %}

{% block title %} {{_('Главная')}} {% endblock %}

{% block content %}

<div class="row profile-head">
    <h3 class="title">{{ _('Уроки') }}</h3>
</div>
<div class="row student-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in lessons %}



            <div class="line">
                <a href="{{ url_for('student.lesson',  id=i.id)}}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{i.title}}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
            </div>



            {% endfor %}
        </div>
        <div class="all"><a href="{{ url_for('student.lessons') }}">{{ _('Посмотреть все') }}</a></div>
    </div>

</div>
<div class="row profile-head">
    <h3 class="title">{{ _('Домашние задания') }}</h3>
</div>
<div class="row student-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in homeworks %}


            <div class="line">
                <a href="{{ url_for('student.homework',  id=i.id, is_unqiue=i.is_unique)}}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{i.title}}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
            </div>



            {% endfor %}
        </div>
        <div class="all"><a href="{{ url_for('student.homeworks') }}">{{ _('Посмотреть все') }}</a></div>
    </div>
    <div class="col-4"></div>
</div>

<div class="row profile-head">
    <h3 class="title">{{ _('Тесты') }}</h3>
</div>
<div class="row student-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in tests %}
            <div class="line">
                <a href="{{ url_for('student.test',  id=i.id) }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{ i.title }}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="all"><a href="{{ url_for('student.tests') }}">{{ _('Посмотреть все') }}</a></div>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}
