{% extends 'base.html' %}

{% block title %} {{ _('Тесты') }} {% endblock %}

{% block content %}

{%if counter == -1 %}
<form method="post">
    {% for i in test %}
    <div>
        <p>{{ i.question }}</p>
        <input type="text" name="questions" id="questions">
    </div>
    {% endfor %}
    <input type="submit">
</form>
{% endif %}


{% if counter >= 0 %}
<p> {{ _('Вы правильно ответили на %(counter)s из %(length)s вопросов', counter=counter, length=test.length) }} </p>
<a href="{{url_for('student.test', id=id)}}">{{ _('Попробуйте еще раз') }}</a>
{% endif %}


{% endblock %}
