{% extends 'base.html' %}

{% block title %} {{person}} {% endblock %}

{% block content %}

<section class="control-profile">
    <div class="row head">
        <div class="col-2">
            <img src="https://m.buro247.ru/images/senina/aiony-haust-3TLl_97HNJo-unspl.jpg" alt="portrait">
        </div>
        <div class="col-10 text">
            <h3>Name Surname</h3>
            <a href="{{url_for('main.edit_profile')}}" class="edit"><i class="fa-solid fa-gear"></i></a>
            <h5>username</h5>
        </div>
    </div>
    <div class="row body">
        <div class="col-2 side-menu">
            <h4>Cтуденты</h4>
            <div class="list-group">

                {% for i in students %}
                <a class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="m-1">{{i.name}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            <a href="#" class="all">All students</a>
        </div>
        <div class="col-10 main">
            <h4>Now you have</h4>
            <div class="stat">
                <div class="card">
                    <div class="card-body">
                        <div class="head">
                            <h1 class="card-title left_title"> {{students|length}}</h1>
                        </div>
                        <p class="card-text left_text">students</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="head">
                            <h1 class="card-title left_title"> {{programs|length}}</h1>
                        </div>
                        <p class="card-text left_text">programs</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="head">
                            <h1 class="card-title left_title"> {{programs|length}}</h1>
                        </div>
                        <p class="card-text left_text">programs</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="head">
                            <h1 class="card-title left_title"> {{programs|length}}</h1>
                        </div>
                        <p class="card-text left_text">programs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
