{% extends 'base.html' %}

{% block title %} {{ homework.title  }} {% endblock %}

{% block content %}

<div class="homework">
    <div class="head">
        <div>
            <h2> {{ homework.title }} </h2>
        </div>
        <div>
            <a href="{{ url_for('main.edit_homework', id=lesson.id, user_id=0) }}"><i
                    class="fa-solid fa-pen"></i></a>
            <a href="{{ url_for('main.remove_homework', id=lesson.id, user_id=0) }}"><i
                    class="fa-solid fa-trash"></i></a>
        </div>
    </div>
    <div class="row body">
        <div class="col-7 main">
            <div class="task">
                <p class="text">{{ homework.text | safe }}</p>
            </div>
        </div>
        <div class="col-4 side">

            {% if user_id != 0 %}
            <div class="solution">
                <h5>{{ _('Последняя попытка') }}</h5>

                {% if task %}
                    <p><a href="{{ url_for('main.get_file', filename=task.to_file) }}">{{ _('Скачать файл') }}</a></p>
                    <a data-bs-toggle="modal" data-bs-target="#new-student" class="graduate">{{ _('Оценить') }}</a>
                {% else %}
                    <p class="">{{ _('Ученик еще не загрузил домашнее задание') }}</p>
                {% endif %}
            </div>
            {% endif %}

        </div>
    </div>
</div>




<div class="modal fade" id="new-student">
    <div class="modal-dialog modal-dialog-centered rounded">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ms-">Оценить домашнее задание</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form action="" method="post">
                    <label for="grade">Поставьте оценку </label>
                    <input type="number" name="grade" id="grade">

                    <label for="comment">Напишите комментарий </label>
                    <input type="text" name="comment" id="comment">

                    <input type="submit">

                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}
