{% extends "base.html" %}


{% block content %}

<div class="container-lg mt-4">

    <div class="row"></div>

    <div class="row">

        <div class="col-1"></div>

        <div class="col-7">
            <!-- section name -->
            <h1 class="fw-light">{{ profile.name | safe }}</h1>
            <h4 class="fw-light">{{ profile.specialisation | safe }}</h4>
            <br>
            <!-- about yourself -->
            <h2 class="fw-light">О себе</h2>
            <hr>
            <p class="fw-light">{{ profile.about | safe }}</p>
        </div>

        <!-- Portrait -->
        <div class="col-3">
            <img class="img-fluid" src="https://m.buro247.ru/images/senina/aiony-haust-3TLl_97HNJo-unspl.jpg"
                 alt="picture">
        </div>

    </div>

    <div class="row">
        <div class="col-1"></div>

        <div class="col">
            <!-- Education -->
            <h2 class="fw-light">Образование</h2>

            <hr>

            <p class="fs-6 fw-light">{{ profile.education | safe }}</p>


            <!-- work experience -->
            <h3 class="fw-light">Опыт работы</h3>
            <hr>
            <p class="fw-light fst-italic">{{ profile.work | safe }}</p>

            <!-- price -->
            <h3 class="fw-light"> Стоимость занятий </h3>
            <hr>
            <br>
            <div class="col-4">
                <p>{{ profile.price | safe }}</p>
            </div>

            <!-- contact -->
            <h3 class="fw-light">Хочу связаться</h3>
            <hr>
            <p>{{ profile.contacts | safe }}</p>
        </div>

        <div class="col-1"></div>
    </div>

</div>

{% endblock %}
