{% extends "base.html" %}

{% block title %}{{ _('Главная') }}{% endblock %}

{% block content %}

<article class="index">
    <section class="row introduce">
        <div class="col-7">
            <!-- section name -->
            <h1 class="name">{{ profile.name | safe }}</h1>
            <h4 class="spec">{{ profile.specialisation | safe }}</h4>

            <!-- about yourself -->
            <p class="about">{{ profile.about | safe }}</p>
        </div>

        <!-- Portrait -->
        <div class="col-3">
            <img class="img-fluid" src="https://m.buro247.ru/images/senina/aiony-haust-3TLl_97HNJo-unspl.jpg"
                 alt="picture">
        </div>
    </section>

    <section class="row info">
        <div class="col-7">
            <!-- Education -->
            <h3 class="title">{{ _('Образование') }}</h3>
            <p class="">{{ profile.education | safe }}</p>


            <!-- work experience -->
            <h3 class="title">{{ _('Опыт работы') }}</h3>
            <p class="">{{ profile.work | safe }}</p>

            <!-- price -->
            <h3 class="title">{{ _('Стоимость занятий') }}</h3>
            <p>{{ profile.price | safe }}</p>

            <!-- contact -->
            <h3 class="title">{{ _('Хочу связаться') }}</h3>
            <p>{{ profile.contacts | safe }}</p>
        </div>
        <div class="col-3"></div>
    </section>
</article>

{% endblock %}
