{% extends 'base.html' %}

{% block title %} {{ _('Библиотека') }} {% endblock %}


{% block content %}

<div class="row library-head">
    <h3 class="title">{{ _('Материалы') }}</h3>
    <a data-bs-toggle="modal" data-bs-target="#new-material" class="plus-button">
        <div class="d-flex justify-content-between">
            <h3>+</h3>
        </div>
    </a>
</div>
<div class="row library-list">
    <div class="col main">
        <div class="list-group">
            {% for i in lib %}
            <div class="line">
                <a href="" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{i.name}}</h5>
                    </div>
                </a>
                <ul class="actions">
                    <li><a href=""><i class="fa-solid fa-trash"></i></a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-4"></div>
</div>


<!-- The Modal -->
<div class="modal fade" id="new-material">
    <div class="modal-dialog modal-dialog-centered rounded">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ms-">{{ _('Загрузить материалы') }}</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" method="post">
                    <p>
                        <label for="name" class="form-label">{{ _('Название') }}</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </p>
                    <p>
                        <input type="file" name="avatar" id="file" class="form-file">
                    </p>
                    <input type="submit" value="{{ _('Добавить') }}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
