{% extends 'base.html' %}

{% block title %} {{program.program}} {% endblock %}

{% block content %}

<div class="row profile-head">
    <h3 class="title">Уроки</h3>
    <a href="{{ url_for('main.create_lesson', user_id=0) }}" class="plus-button">
        <div class="d-flex justify-content-between">
            <h3>+</h3>
        </div>
    </a>
</div>
<div class="row program-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in lessons %}
            <div class="line">
                <a href="{{ url_for('main.lesson',  id=i.id, program_id=program.id, is_unique=0)}}"
                   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{i.title}}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
                <ul class="actions">
                    <li><a href="{{ url_for('main.edit_lesson', id=i.id, user_id=0) }}"><i
                            class="fa-solid fa-pen"></i></a></li>
                    <li><a href="{{ url_for('main.remove_lesson',  id=i.id, course_id=program.id)}}"><i
                            class="fa-solid fa-trash-can"></i></a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="all"><a href="#">See all</a></div>
    </div>
    <div class="col-4">
        <div class="card program profile">
            <div class="card-body">
                <div class="head">
                    <h4 class="card-title left_title">{{program.program}}</h4>
                </div>
                <p class="card-text left_text">{{program.text}}</p>
            </div>
        </div>
    </div>
</div>


<div class="row profile-head">
    <h3 class="title">Домашние задания</h3>
    <a href="#" class="plus-button">
        <div class="d-flex justify-content-between">
            <h3>+</h3>
        </div>
    </a>
</div>
<div class="row student-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in homeworks %}
            <div class="line">
                <a href="{{ url_for('main.homework',  id=i.lesson, program=program.id)}}"
                   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{i.title}}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
                <ul class="actions">
                    <li><a href="{{ url_for('main.edit_homework', id=i.lesson, user_id=0)}}"><i class="fa-solid fa-pen"></i></a>
                    </li>
                    <li><a href="{{ url_for('main.remove_homework', id=i.lesson)}}"><i class="fa-solid fa-trash-can"></i></a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="all"><a href="#">See all</a></div>
    </div>
    <div class="col-4"></div>
</div>

<div class="row profile-head">
    <h3 class="title">Тесты</h3>
    <a href="#" class="plus-button">
        <div class="d-flex justify-content-between">
            <h3>+</h3>
        </div>
    </a>
</div>
<div class="row student-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in lessons %}
            <div class="line">
                <a href="{{ url_for('main.test',  id=i.id) }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{i.title}}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
                <ul class="actions">
                    <li><a href="#"><i class="fa-solid fa-pen"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-trash-can"></i></a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="all"><a href="#">See all</a></div>
    </div>
    <div class="col-4"></div>
</div>


{% endblock %}
