{% extends 'base.html' %}

{% block title %} {{student.name}} {% endblock %}

{% block content %}

<div class="row profile-head">
    <h3 class="title">Уроки</h3>
     <!--
    <a href="{{ url_for('main.create_lesson', user_id=student.id) }}" class="plus-button">
        <div class="d-flex justify-content-between">
            <h3>+</h3>
        </div>
    </a>
    -->
</div>
<div class="row student-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in lessons %}
            <div class="line">
                <a href="{{ url_for('main.lesson',  id=i.id, program_id=0, is_unique=0)}}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{i.title}}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
                <ul class="actions">
                    <li><a href="{{url_for('main.open_lesson', user_id=student.id, lesson_id=i.id)}}"><i class="fa-solid fa-eye"></i></a></li>
                    <li><a href="{{ url_for('main.edit_lesson', id=i.id, user_id=student.id) }}"><i class="fa-solid fa-pen"></i></a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="all"><a href="#">See all</a></div>
    </div>
    <div class="col-4">
        <div class="card student profile">
             <div class="card-body">
                <div class="head">
                    <h4 class="card-title left_title">{{student.name}}</h4>
                    <p class="card-text left_text">Подготовка к ОГЭ</p>
                </div>
                <div>
                    <p class="phone">Телефон: +7(800) 200-23-16</p>
                    <table class="table-sm">
                        <thead>
                        <tr>
                            <th>Пн</th>
                            <th>Вт</th>
                            <th>Ср</th>
                            <th>Чт</th>
                            <th>Пт</th>
                            <th>Cб</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>15:00</td>
                            <td>18:30</td>
                            <td>08:50</td>
                            <td>15:00</td>
                            <td>18:30</td>
                            <td>08:50</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row profile-head">
    <h3 class="title">Домашние задания</h3>
        <div class="d-flex justify-content-between">
        </div>
    </a>
</div>
<div class="row student-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in homeworks %}
            <div class="line">
                <a href="{{ url_for('main.homework',  id=i.id, program=0)}}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{i.title}}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
                <ul class="actions">
                    <li><a href="{{ url_for('main.edit_homework', id=i.lesson_id, user_id=student.id) }}"><i class="fa-solid fa-pen"></i></a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="all"><a href="#">See all</a></div>
    </div>
    <div class="col-4"></div>
</div>

<div class="row profile-head">
    <h3 class="title">Тесты</h3>
        <div class="d-flex justify-content-between">
        </div>
    </a>
</div>
<div class="row student-profile">
    <div class="col main">
        <div class="list-group">
            {% for i in tests %}
            <div class="line">
                <a href="{{ url_for('main.test',  id=i.id) }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="m-1">{{ i.title }}</h5>
                    </div>
                    <p class="m-1">Some placeholder content in a paragraph.</p>
                </a>
                <ul class="actions">
                    <li><a href="{{ url_for('main.edit_test',  id=i.id) }}"><i class="fa-solid fa-pen"></i></a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="all"><a href="#">See all</a></div>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}
