{% extends 'base.html' %}

{% block title %} {{ _('Студенты') }} {% endblock %}

{% block content %}


<script>
    let items = 1;

    function AddItem() {
        let div = document.getElementById("items");
        let button = document.getElementById("add");
        items++;

        let newItem = "<select  name='weekday'>" +
            "option value=1>{{ _('Понедельник') }}</option>" +
            "<option value=2>{{ _('Вторник') }}</option>" +
            "<option value=3>{{ _('Среда') }}</option>" +
            "<option value=4>{{ _('Четверг') }}</option>" +
            "<option value=5>{{ _('Пятница') }}</option>" +
            "<option value=6>{{ _('Суббота') }}</option>" +
            "<option value=7>{{ _('Воскресенье') }}</option>" +
            "<input type='time' name='start-time'> " +
            "<input type='time' name='end-time'>";
        let newNode = document.createElement("div");
        newNode.classList.add("record");
        newNode.innerHTML = newItem;
        div.insertBefore(newNode, button);
    }

    function RemoveItem() {

    }
</script>


<div class="row students">

    {% for student in students %}
    <!-- student card -->
    <div class="card student">
        <a href="{{ url_for('main.person', person=student.id) }}">
            <div class="card-body">
                <div class="head">
                    <h4 class="card-title left_title">{{student.name}}</h4>
                    <p class="card-text left_text">Подготовка к ОГЭ</p>
                    <i class="arrow center fa-solid fa-chevron-right"></i>
                </div>
                <div>
                    <p class="phone">{{ _('Телефон') }}: {{student.phone}}</p>
                    <table class="table-sm">
                        <thead>
                        <tr>
                            {% for i in student.schedule %}
                            <th> {{ i.weekday.name }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for i in student.schedule %}
                            <th>{{ i.start.strftime('%H:%M') }}</th>

                            {% endfor %}

                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            {% for i in student.schedule %}
                            <th>{{i.end.strftime('%H:%M')}}</th>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}

    <!-- button add new user -->
    <div class="card student">
        <a data-bs-toggle="modal" data-bs-target="#new-student" class="knopka">+ новый ученик</a>
    </div>

</div>


<!-- The Modal -->
<div class="modal fade" id="new-student">
    <div class="modal-dialog modal-dialog-centered rounded">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ms-">{{ _('Добавить ученика') }}</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">

                    <form action="" method="post">

                        <p>
                            <label for="StudentName" class="form-label">{{ _('Имя ученика') }}</label>
                            <input type="text" class="form-control" id="StudentName" name="StudentName">
                        </p>

                        <p>
                            <label for="StudentLogin" class="form-label">{{ _('Логин ученика') }}</label>
                            <input type="text" class="form-control" id="StudentLogin" name="StudentLogin">
                        </p>

                        <p>
                            <label for="StudentPassword" class="form-label">{{ _('Пароль') }}</label>
                            <input type="text" class="form-control" id="StudentPassword" name="StudentPassword">
                        </p>

                        <div id="items">
                            <label class="form-label">{{ _('Расписание') }}</label><br>
                            <div class="record">
                                <select name="weekday">
                                    <option value=1>{{ _('Понедельник') }}</option>
                                    <option value=2>{{ _('Вторник') }}</option>
                                    <option value=3>{{ _('Среда') }}</option>
                                    <option value=4>{{ _('Четверг') }}</option>
                                    <option value=5>{{ _('Пятница') }}</option>
                                    <option value=6>{{ _('Суббота') }}</option>
                                    <option value=7>{{ _('Воскресенье') }}</option>
                                </select>
                                <input type='time' name='start-time'>
                                <input type='time' name='end-time'>
                            </div>
                            <input type="button" value="{{ _('Добавить урок') }}" onClick="AddItem();" id="add">
                        </div>

                        <p>
                            <label for="Course" class="form-label">{{ _('Курс') }}</label>
                            <select class="form-select" aria-label="Default select example" id="Course" name="Course">
                                {% for i in programs %}
                                <option value="{{ i.id }}">{{ i.program }}</option>
                                {% endfor %}
                            </select>
                        </p>

                        <input type="submit" class="btn btn-success" value="{{ _('Создать') }}">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}







